.root {
  position: relative;
  width: 20rem /* 320px */;
  text-align: center;
  @media (max-width: 435px) {
    width: auto;
  }

  .secondsLeft {
    font-size: 5.33rem /* 85.28px */;
    font-weight: 600;
    @media (max-width: 435px) {
      font-size: 4.33rem;
    }
  }
}
