.link {
  display: flex;
  align-items: center;
  gap: 0.625rem; /* 2.5px */
  padding: var(--layout-padding, 1rem);
  border-bottom-width: 1px;
  border-bottom-color: rgba(255, 255, 255, 0.12);
  span {
    font-size: 29.12px;
    font-weight: 700;
    position: relative;
    @media (max-width: 1633px) {
      font-size: 20px;
    }
  }
}
